Import the following libraries to run color_histogram_comparison.py:
- os
- cv2
- pandas
- matplotlib.pyplot
- re
- argparse

Import the following libraries to run k_nearest_neighbors.py:
- os
- tensorflow
- from tensorflow.keras.applications.vgg16 import (preprocess_input, VGG16)
- from tensorflow.keras.preprocessing.image import (load_img, img_to_array)
- from sklearn.neighbors import NearestNeighbors
- numpy
- from numpy.linalg import norm
- pandas
- matplotlib.pyplot
- matplotlib.image
- re
- argparse
